ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #034f84;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

.ProfileTag {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  float: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  font-size: 25px;
}


li a:hover {
  background-color: #f7786b;
}

body {
    background-color: #92a8d1;
}
